/sprint0/SOS/nbproject/private/
/sprint0/SOS/build/
/sprint0/SOS/dist/
/sprint0/UnitTesting/nbproject/private/
/sprint0/UnitTesting/build/
/sprint0/TestingCourse/nbproject/
/sprint0/TestingCourse/target/
